<footer class="site-footer">
    <div class="footer-brand">
        <div class="brand-logo" aria-label="Firmenlogo">
            Logo
        </div>

        <div class="brand-text">
            <a class="logo" href="index.html">
                <span>HAUS DER</span>
                <span>GESUNDHEIT</span>
            </a>

            <p>Ernährung & Bewegung

            </p>

            <p>Öffnungszeiten:<br>
                Mo - Fr: 8:00 - 18:00 Uhr
            </p>
        </div>
    </div>

    <div class="footer-links">
        <h4>Navigation</h4>
        <a href="ueber-mich.html">Über mich</a>
        <a href="leistungen.html">Leistungen</a>
        <a href="praxis.html">Die Praxis</a>
        <a href="blog.html">Gesundheitsratgeber</a>
    </div>


    <div class="footer-address">
        <h4>Adresse</h4>
        <a>Musterstraße 12<br>
        Murnau am Staffelsee</a>
        <a href="anfahrt.html">Anfahrt</a>
    </div>
<div class="footer-kontakt">
        <h4>Kontakt</h4>
        <a>Telefon:<br>0151 60151121</a>
        <a>E-Mail:  kontakt@hausdergesundheit.de
        </a>
    
    </div>

    <div class="footer-bottom">
        <span class="copyright-text">© <span data-current-year></span> Haus der Gesundheit.</span>

        <div class="legal-links">
            <a href="datenschutz.html">Datenschutz</a>
            <a href="impressum.html">Impressum</a>
            <a href="agb.html">AGB</a>
        </div>
    </div>
</footer>